@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* --largCarta: 100px; */
    --largCarta: 110px;
    /* --altCarta: 170px; */
    --altCarta: 170px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #016d22;
    width: 100vw;
    height: 100vh;
    color: black;
    position: relative;
}

.cartas{
    background-image: url('img/CartaPadrao.jpg');
    background-color: white;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: var(--altCarta);
    width: var(--largCarta);
    margin: 5px;
    font-size: 4.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 3fr 1fr;
}

#maoAd, #mao{
    width: min-content;
    display: flex;
    justify-content: space-between;
}

#ad, #usuario{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #913500;
    box-sizing: border-box;
}

#usuario{
    border-top: 30px solid #662500;
}

#ad{
    border-bottom: 30px solid #662500;
}

#centro{
    display: flex;
    align-items: center;
    justify-content: center;
}

#montePesca{
    display: flex;
    align-items: center;
    justify-items: center;
}

#pesca{
    position: relative;
    width: var(--largCarta);
    height: var(--altCarta);
}

.cont{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 40px;
    background-color: #f87800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    border-radius: 2px;
    box-sizing: border-box;
}

#botoes{
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#escolha{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: min-content;
    width: 300px;
    justify-items: center;

}

#escolha button{
    width: 100px;
    height: 60px;
    background-color: lightskyblue;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
}

#escolha button:hover{
    background-color: rgb(115, 175, 212);
}

.tirar{
    pointer-events: none;
}

#telaFinal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: #00000056;
    align-items: center;
    justify-items: center;
}

#menu{
    width: min-content;
    height: 260px;
    background-color: #b8530b;
    border: 8px solid #642500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(auto, 2fr);
    align-items: center;
    justify-items: center;
    width: auto;
}

button{
    cursor: pointer;
}

#buttons button{
    display: block;
    width: 120px;
    height: 80px;
    background-color: lightskyblue;
    color: white;
    border: 1px solid white;
    transition: .3s;
    font-size: 1.5em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .15);
    border-radius: 7px;
    margin: 50px;
}

#msg{
    min-width: 300px;
    margin: auto;
    text-align: center;
    font-size: 5em;
    color: white;
    font-weight: 700;
}

#mensagem{
    padding-top: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

#buttons button:hover{
    background-color: #74b1d6;
    transition: .3s;
}

#buttons button:active{
    box-shadow: none;
    transition: .3s;
}

.fichas{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    -webkit-text-stroke: 2px white;
    font-size: 2em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .19);
    position: relative;
}

.fichaCentroN1{
    width: 70%;
    height: 70%;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(224, 224, 224, 0.548);
    left: 50%;
    top: 50%;
}

.fichaCentroN2{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
}

#fichaValor5, #fichaValor5 .fichaCentroN2{
    background-color: rgb(255, 23, 23);
}

#fichaValor25, #fichaValor25 .fichaCentroN2{
    background-color: rgb(23, 128, 23);
}

#fichaValor100, #fichaValor100 .fichaCentroN2{
    background-color: rgb(23, 0, 23);
}

#fichaValor500, #fichaValor500 .fichaCentroN2{
    background-color: rgb(128, 31, 128);
}

#aposta{
    display: none;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #00000056;
    top: 0;
    left: 0;
}

#valores{
    position: relative;
    width: 900px;
    height: min-content;
    background-color: #b8530b;
    border: 8px solid #642500;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    align-items: center;
    justify-content: center;
    border-top-color: #471a00;
    padding: 0 15px;
}

#fichas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    width: min-content;
}

#containerFichas{
    display: flex;
    align-items: center;
    justify-content: center;
}

#fichas button{
    display: block;
    margin: 30px;
}

#info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.saldo, #atual{
    width: 160px;
    height: 100px;
    position: relative;
    border: 2px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .15);
    border-radius: 8px;
    padding-top: 6px;
}

.saldo{
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
}


.textoApoio{
    position: absolute;
    top: 12px;
    left: 11px;
    color: white;
}

.valorTotal{
    color: white;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

#atual{
    background-color: rgb(115, 172, 115);
    display: flex;
    align-items: center;
    justify-content: center;
}

#finalizarAposta{
    background-color: cyan;
    width: 130px;
    height: 70px;
    border-radius: 10px;
    font-size: 1.6em;
    color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .15);
    transition: .3s;
}

#finalizarAposta:hover{
    background-color: rgb(0, 214, 214);
    transition: .3s;
}

#finalizarAposta:disabled{
    background-color: lightgray;
    color: gray;
    cursor: auto;
}

.info{
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    position: absolute;
    right: 40px;
}

.info > div{
    background-color: #db7c00;
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 10px;
    border: 6px solid #7c4600;
    padding-top: 10px;
    box-sizing: border-box;
}

.escondida{
    background-image: url('img/FundoCarta.png');
    background-color: white;
    background-size: cover;
    font-size: 0em;
}

#maxMin{
    box-sizing: border-box;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;
    background-color: #642500;
    margin: 0;
    height: 100%;
    border: 1px solid #3d1600;
    border-bottom: 4px solid #3d1600;
    color: rgb(180, 171, 162);
    width: 885px;
}

#maxMin p{
    margin: 10px 20px;
}

#operacao{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 160px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .15);
    border-radius: 8px;
}

#operacao button{
    width: 100%;
    height: 50px;
    font-size: 3em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mais{
    background-color: red;
    border: 5px solid #a70000;
}

#menos{
    background-color: blue;
    border: 5px solid #0000b6;
}

/* Feita */
@media screen and (max-width: 1020px) and (min-width: 650px) and (min-height: 700px) and (max-height: 1030px){
    /* Tela base 
    Entre 650-1020 x 700-1030 */
    
    /* body{
        background-color: orange;
    } */

    #botoes{
        position: inherit;
    }

    #botoes button{
        width: 118px;
        height: 75px;
        font-size: 1.7em;
    }



    #usuario, #ad{
        position: relative;
    }

    .info{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
        height: 100%;
        width: min-content;
    }

    .info div{
        height: 90px;
        width: 140px;
    }
 

}


@media screen and (max-height: 530px){

    .info{
        grid-template-rows: 1fr;
        grid-template-columns: auto;
        width: min-content;
    }

    main{
        grid-template-rows: 2fr 3fr 2fr;
    }

    .info div{
        height: 70px;
        width: 140px;
    }

    .info div p:nth-child(1){
        top: 3px;
    }

    .info div p:nth-child(2){
        position: absolute;
        bottom: 3px;
    }

    .saldoAtual{
        display: none !important;
    }

    .cont{
        width: 55px;
        height: 55px;
    }

    .cartas{
        width: 90px;
        height: 140px;
    }

}


/* Feita */
@media screen and (max-width: 1020px) and (min-width: 650px) and (min-height: 530px) and (max-height: 700px){
    /* Tela base
    Entre 650-1020 x 530-600 */
    /* body{
        background-color: purple;
    } */
    
    #botoes{
        position: inherit;
    }

    .cartas{
        width: 90px;
        height: 150px;
    }

    #usuario, #ad{
        position: relative;
        box-sizing: content-box;
        min-height: 180px;
    }

    .info{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
        height: 100%;
        width: min-content;
    }

    .info div{
        height: 90px;
        width: 140px;
    }

    .cont{
        width: 80px;
        height: 80px;
    }
 
}

/* Feita */
@media screen and (min-width: 400px) and (max-width: 650px) and (min-height: 700px) and (max-height: 1030px){
    /* Tela base
    400-650 x 700-1030 */
/* 
    body{
        background-color: brown;
    } */

    #botoes{
        position: inherit;
    }

    #usuario, #ad{
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr 1fr;
        position: relative;
        width: 100%;
    }

    .cont{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 70px;
        height: 70px;
        top: 0px;
        left: 0px;
    }

    #informacoesAd, #informacoesUser{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        top: 5px;
        right: 0px;
    }

    #mao, #maoAd{
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    #informacoesAd div, #informacoesUser div{
        width: 125px;
        height: 70px;
    }

    #informacoesAd p, #informacoesUser p{
        top: 5px;
    }

    #msg{
        font-size: 4em;
    }



}

@media screen and (min-width: 300px) and (max-width: 400px) and (min-height: 700px) and (max-height: 1030px){
    /* Tela base */
/* 
    body{
        background-color: black;
    } */

    #botoes{
        position: inherit;
    }

    #usuario, #ad{
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr 1fr;
        position: relative;
        width: 100%;
    }

    .cont{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 70px;
        height: 70px;
        top: 0px;
        left: 0px;
    }

    #informacoesAd, #informacoesUser{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        top: 5px;
        right: 0px;
    }

    #mao, #maoAd{
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    #informacoesAd div, #informacoesUser div{
        width: 125px;
        height: 70px;
    }

    #informacoesAd p, #informacoesUser p{
        top: 5px;
    }

    #msg{
        font-size: 4em;
    }



}

/* Feita */
@media screen and (min-width: 300px) and (max-width: 650px) and (min-height: 440px) and (max-height: 700px){
    /* Tela base
    300-650 x 440-700 */
    /* body{
        background-color: yellow;
    } */

    #botoes{
        position: inherit;
    }

    #usuario, #ad{
        width: 100%;
    }

    #informacoesUser, #informacoesAd{
        display: none;
    }

    .cont{
        width: 85px;
        height: 85px;
        left: 0px;
    }

    .cartas{
        width: 80px;
        height: 140px;
    }

    #msg{
        font-size: 3em;
    }

    #menu{
        width: 140px;
        height: 140px;
    }

    #menu button{
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: min-content;
        height: 60px;
    }

}

@media screen and (max-height: 650px){
    .cont{
        height: 70px;
        width: 70px;
    }

    #informacoesUser > div, #informacoesAd > div{
        height: 70px;
    }
}

/* Feito */
@media screen and (max-width: 650px) and (max-height: 740px){
    /* Tela base
    -650 x -440 */
    /* body{
        background-color: cyan;
    } */

    #usuario, #ad{
        border-width: 3px;
    }

    #usuario, #ad{
        width: 100%;
    }

    #escolha{
        width: 100%;
    }

    #botoes{
        position: inherit;
        width: 100%;
    }

    #botoes button{
        width: 75px;
        height: 44px;
    }

    #informacoesUser, #informacoesAd{
        display: none;
    }

    .cont{
        width: 85px;
        height: 85px;
        left: 0px;
    }

    .cartas{
        width: 80px;
        height: 140px;
    }

    #msg{
        font-size: 2.6em;
    }

    #menu{
        width: 140px;
        height: 140px;
    }

    #menu button{
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: min-content;
        height: 60px;
    }

}

/* Feito */
@media screen and (min-width: 590px) and (max-width: 940px) and (min-height: 200px) and (max-height: 1000px){
    /* Area aposta
    590-940 x 600-1000 */
    #valores{
        /* background-color: red; */
        grid-template-rows: 1fr 1fr 2fr;
        width: 450px;
    }

    #maxMin{
        width: 450px;
        margin: auto;
        text-align: center;
    }

    #fichas button{
        margin: 0;
    }

    #info{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #info div{
        width: 110px;
        height: 77px;
    }

    #info div p:nth-child(1){
        top: 5px;
    }

    #info div p:nth-child(2){
        position: absolute;
        bottom: 5px;
    }

    div#operacao button{
        height: 39px;
    }

    #finalizarAposta{
        grid-area: 1 / 2 / 3 / 2;
    }

    #maxMin{
        font-size: 1.9em;
    }

}

/* Feito */
@media screen and (min-width: 400px) and (max-width: 590px) and (min-height: 600px) and (max-height: 900px){
    /* Tela aposta
    400-590 x 600-900 */
    #valores{
        /* background-color: green; */
        grid-template-rows: 1fr 1fr 2fr;
        width: 360px;
    }

    #maxMin{
        width: 360px;
        margin: auto;
        font-size: 1.9em;
        text-align: center;
    }

    #fichas button{
        margin: 0;
        width: 85px;
        height: 85px;
    }

    #info{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        width: min-content;
        column-gap: 10px;
        margin: auto;
    }

    #info div{
        width: 110px;
        height: 77px;
    }

    #info div p:nth-child(1){
        top: 5px;
    }

    #info div p:nth-child(2){
        position: absolute;
        bottom: 5px;
    }

    div#operacao button{
        height: 39px;
    }

    #finalizarAposta{
        grid-area: 1 / 2 / 3 / 2;
        width: 105px;
        height: 65px;
    }

}

/* Feito */
@media screen and (min-width: 280px) and (max-width: 400px) and (min-height: 550px) and (max-height: 700px){
    /* Tela aposta */
    /* 300-400 x 550-700 */
    #valores{
        /* background-color: blue; */
        grid-template-rows: 90px 170px 2fr;
        width: 250px;
    }

    #maxMin{
        width: 250px;
        margin: auto;
        font-size: 1.5em;
        text-align: center;
    }

    #fichas button{
        margin: 0;
        width: 75px;
        height: 75px;
    }

    #fichas{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
    }

    #info{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        width: min-content;
        column-gap: 10px;
        margin: auto;
    }
    
    #info div{
        width: 110px;
        height: 77px;
    }

    #info div p:nth-child(1){
        top: 5px;
    }

    #info div p:nth-child(2){
        position: absolute;
        bottom: 5px;
    }

    div#operacao button{
        height: 39px;
    }
    .saldo{
        grid-row: 1 / 2;
    }

    #finalizarAposta{
        grid-area: 3 / 1 / 4 / 3;
        width: 105px;
        height: 65px;
    }
}

@media screen and (min-width: 280px) and (max-width: 500px) and (min-height: 700px) and (max-height: 1000px){
    /* Tela aposta */
    /* 300-400 x 550-700 */
    #valores{
        /* background-color: white; */
        grid-template-rows: 90px 170px 2fr;
        width: 250px;
    }

    #maxMin{
        width: 250px;
        margin: auto;
        font-size: 1.5em;
        text-align: center;
    }

    #fichas button{
        margin: 0;
        width: 75px;
        height: 75px;
    }

    #fichas{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
    }

    #info{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        width: min-content;
        column-gap: 10px;
        margin: auto;
    }
    
    #info div{
        width: 110px;
        height: 77px;
    }

    #info div p:nth-child(1){
        top: 5px;
    }

    #info div p:nth-child(2){
        position: absolute;
        bottom: 5px;
    }

    div#operacao button{
        height: 39px;
    }
    .saldo{
        grid-row: 1 / 2;
    }

    #finalizarAposta{
        grid-area: 3 / 1 / 4 / 3;
        width: 105px;
        height: 65px;
    }
}

/* @media screen and (max-width: 700px) and (min-height: 745px){
    #fichas{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #fichas button{
        margin: 3px;
    }

    #atual, #operacao{
        grid-row: 2 / 3;
    }


    #finalizarAposta{
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }

    #info{
        margin: auto;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: min-content;
        column-gap: 10px;
    }

    #maxMin{
        width: max-content;
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 120px;
    }

    #valores{
        max-height: 100vh;

        width: min-content;
        gap: 0px;
        grid-template-rows: 120px 250px 1fr;
    }

    .cartas{
        width: 80px;
        height: 130px;
    }

    #botoes{
        position: inherit;
    }

}

@media screen and (max-height: 600px) and (max-width: 400px){

    #maxMin{
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 120px;
    }

    #valores{
        max-height: 100vh;
        width: min-content;
        gap: 0px;
        grid-template-rows: 120px 120px 1fr;
        padding-bottom: 10px;
    }

    #info{
        width: min-content;
        margin: auto;
        column-gap: 5px;
    }

    .fichas{
        width: 75px;
        height: 75px;
        font-size: 1.7em;
    }

    #fichas{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #info div{
        width: 100px;
        height: 100px;
    }


    #info div p{
        top: 2px;
    }

    #operacao button{
        width: 100%;
        height: 50px;
        box-sizing: border-box;
    }

    #finalizarAposta{
        width: min-content;
        font-size: 1.2em;
        padding: 10px;
    }

    #msg{
        font-size: 3em;
    }
}

@media screen and (min-width: 360px) and (min-height: 550px){
    .info div{
        display: none;
    }

    .cont{
        width: 80px;
        height: 80px;
        left: 0px;
    }

}


@media screen and (max-height: 570px){
    #usuario, #ad{
        border-width: 3px;
    }
}  */