@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --largCarta: 90px;
    --altCarta: 150px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.cartas{
    background-image: url('img/CartaPadrao.jpg');
    background-color: white;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: var(--altCarta);
    width: var(--largCarta);
    margin: 5px;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 3fr 1fr;
}

#maoAd, #mao{
    width: min-content;
    display: flex;
    justify-content: space-between;
}

#ad, #usuario{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #913500;
    box-sizing: border-box;
}

#usuario{
    border-top: 30px solid #662500;
}

#ad{
    border-bottom: 30px solid #662500;
}

#centro{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#monte{
    background-color: #005018;
    display: flex;
    align-items: center;
    justify-content: center;
}

#resto{
    background-color: #005018;
}


#montePesca{
    display: flex;
    align-items: center;
    justify-items: center;
}

#pesca{
    position: relative;
    width: var(--largCarta);
    height: var(--altCarta);
}

.cont{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 40px;
    background-color: #f87800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    border-radius: 2px;
    box-sizing: border-box;
}

#botoes{
    background-color: #005018;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#escolha{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: min-content;
    width: 300px;

}

#escolha button{
    width: 100px;
    height: 60px;
    background-color: lightskyblue;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
}

#escolha button:hover{
    background-color: rgb(115, 175, 212);
}

.tirar{
    pointer-events: none;
}

#telaFinal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    grid-template-columns: 1fr, 2fr;
    align-items: center;
    justify-items: center;
}

#menu{
    width: min-content;
    height: 260px;
    background-color: #b8530b;
    border: 8px solid #642500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(auto, 2fr);
    align-items: center;
    justify-items: center;
    width: auto;
}

button{
    cursor: pointer;
}

#buttons button{
    display: block;
    width: 120px;
    height: 80px;
    background-color: lightskyblue;
    color: white;
    border: 1px solid white;
    transition: .3s;
    font-size: 1.5em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .15);
    border-radius: 7px;
    margin: 50px;
}

#msg{
    min-width: 300px;
    margin: auto;
    text-align: center;
    font-size: 5em;
    color: white;
    font-weight: 700;
}

#mensagem{
    padding-top: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

#buttons button:hover{
    background-color: #74b1d6;
    transition: .3s;
}

#buttons button:active{
    box-shadow: none;
    transition: .3s;
}

.fichas{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    -webkit-text-stroke: 2px white;
    font-size: 2em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .19);
}

#fichaValor5{
    background-color: red;
}

#fichaValor25{
    background-color: green;
}

#fichaValor100{
    background-color: black;
}

#fichaValor500{
    background-color: purple;
}

#aposta{
    display: none;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
}

#valores{
    position: relative;
    width: 900px;
    height: min-content;
    background-color: #b8530b;
    border: 8px solid #642500;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    align-items: center;
    justify-content: center;
    border-top-color: #471a00;
}

#fichas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    width: min-content;
}

#containerFichas{
    display: flex;
    align-items: center;
    justify-content: center;
}

#fichas button{
    display: block;
    margin: 30px;
}

#info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.saldo, #atual{
    width: 160px;
    height: 100px;
    position: relative;
    border: 2px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .15);
    border-radius: 8px;
    padding-top: 6px;
}

.saldo{
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
}


.textoApoio{
    position: absolute;
    top: 12px;
    left: 11px;
    color: white;
}

.valorTotal{
    color: white;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

#atual{
    background-color: rgb(115, 172, 115);
    display: flex;
    align-items: center;
    justify-content: center;
}

#finalizarAposta{
    background-color: cyan;
    width: 130px;
    height: 70px;
    border-radius: 10px;
    font-size: 1.6em;
    color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .15);
    transition: .3s;
}

#finalizarAposta:hover{
    background-color: rgb(0, 214, 214);
    transition: .3s;
}

#finalizarAposta:disabled{
    background-color: lightgray;
    color: gray;
    cursor: auto;
}

.info{
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 40px;
}

.info > div{
    background-color: #db7c00;
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 10px;
    border: 6px solid #7c4600;
    padding-top: 10px;
    box-sizing: border-box;
}

.escondida{
    background-image: url('img/FundoCarta.png');
    background-color: white;
    background-size: cover;
    font-size: 0em;
}

#maxMin{
    box-sizing: border-box;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color;
    font-weight: 700;
    background-color: #642500;
    margin: 0;
    height: 100%;
    border: 1px solid #3d1600;
    border-bottom: 4px solid #3d1600;
    color: rgb(180, 171, 162);
    width: 900px;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 1); */
}

#operacao{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 160px;
    border: 2px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .15);
    border-radius: 8px;
}

#operacao button{
    width: 160px;
    height: 50px;
    font-size: 3em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mais{
    background-color: red;
    border: 5px solid #a70000;
}

#menos{
    background-color: blue;
    border: 5px solid #0000b6;
}